<!--header-->
<div class="header">
    <div class="navbar">
    <div class="nav">
      <h1>Beauty</h1>
    </div>
  <div class="nav2">
    <nav>
      <input type="checkbox" id="click">
     <label for="click" class="menu-btn">
       <span class="material-symbols-outlined"> menu </span></label>
     <ul>
       <li><a routerLink="">Home</a></li>
       <li><a href="story">Story</a></li>
       <li><a routerLink="service">Services</a></li>
       <li><a href="#">Wedding</a></li>
       <li><a href="#">Review</a></li>
       <li><a href="#">Contact</a></li>
     </ul>
   </nav>
  </div>
  <div class="nav3">
    <span class="material-symbols-outlined">phone_in_talk
   </span>
   <h3>1800 222 000</h3>
    <button type="button" class="btn btn-outline-secondary">Let's talk</button>
  </div>
</div>
<div class="info">
  <h1 style="color: white;">Beauty Services</h1>
</div>
</div>

<!--2nd-->
<div class="info1">
  <div class="container2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-9 md-mb-20">
          <div class="p-3">
            <p class="p-3">LUXURY BEAUTY SERVICES</p>
            <h2>Body treatments.skin care beauty.</h2>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sn-6 icon-with-text-style-03 mb-4 xs-mb-35px">
          <div class="p-3">
            <img src="assets/img/14.webp" alt="..">
            <h5>Hair wash and dry</h5>
            <p>Lorem is simply dummy text the printing typesetting.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sn-6 icon-with-text-style-03 mb-4 xs-mb-35px">
          <div class="p-3">
            <img src="assets/img/14.webp" alt="..">
            <h5>Express makeup</h5>
            <p>Lorem is simply dummy text the printing typesetting.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sn-6 icon-with-text-style-03 md-mb-5 xs-mb-35px">
          <div class="p-3">
            <img src="assets/img/15.webp" alt="..">
            <h5>Haircut by expert</h5>
            <p>Lorem is simply dummy text the printing typesetting.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sn-6 icon-with-text-style-03 sm-mb-5 xs-mb-35px">
          <div class="p-3">
            <img src="assets/img/16.webp" alt="..">
            <h5>New hair styling</h5>
            <p>Lorem is simply dummy text the printing typesetting.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sn-6 icon-with-text-style-03 xs-mb-35px">
          <div class="p-3">
            <img src="assets/img/17.webp" alt="..">
            <h5>Wash and plain dry</h5>
            <p>Lorem is simply dummy text the printing typesetting.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sn-6 icon-with-text-style-03">
          <div class="p-3">
            <img src="assets/img/18.webp" alt="..">
            <h5>Organic skin treatment</h5>
            <p>Lorem is simply dummy text the printing typesetting.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="color: rgb(190, 189, 189);">

<!--3rd-->
<div class="info7">
  <p>BEAUTY SALON SERVICES</p>
  <h2>Makeup and hairstyles</h2>
</div>
<div class="info6">
  <div class="card1">
    <img src="assets/img/8.jpg" class="card-img-top" alt="...">
    <div class="overlay1"></div>
    <div class="card-body">
      <h2>Hair treatment</h2>
      <p>Advanced hair treatment</p>
    </div>
  </div>
  <div class="card1">
    <img src="assets/img/9.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h2>Reflexology</h2>
        <p>Different amounts of pressure</p>
      </div>
  </div>
  <div class="card1">
    <img src="assets/img/10.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Makeup</h2>
      <p>Rethink your lash look</p>
    </div>
  </div>
  <div class="card1">
    <img src="assets/img/11.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Skin care</h2>
      <p>Believe in your beauty</p>
    </div>
  </div>
  <div class="card1">
    <img src="assets/img/12.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Cosmetology</h2>
      <p>Fabulous in every way</p>
    </div>
  </div>
  <div class="card1">
    <img src="assets/img/13.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Grooming</h2>
      <p>Especially crafted to suit</p>
    </div>
  </div>
</div>

<!--footer-->
<div class="footer">
  <div class="f_1">
    <h6>Everyone can discover their hidden beauty.<span style="border-bottom: 2px solid;">Book an appoinment</span></h6>
  </div>
  <hr style="color: white;">
  <div class="f_2">
    <div class="f_21">
    <h1>Beauty</h1>
  </div>
  <div class="f_22">
    <h3>GET IN TOUCH</h3>
    <h4>401 Broadway, 24th Floor <br>New York,NY 10013</h4>
  </div>
  <div class="f_23">
    <h3>NEED SUPPORT?</h3>
    <h4>1-800-222-000</h4>
    <h4>info&#64;yourdomain.com</h4>
  </div>
  <div class="f_24">
    <h3>CONNECT WITH US</h3>
    <div class="f_241">
      <img src="assets/img/37.png">
      <img src="assets/img/38.png">
    </div>
  </div>
</div>
</div>
