<!--header-->
<div class="header">
   <div class="navbar">
    <div class="nav">
      <h1>Beauty</h1>
    </div>
  <div class="nav2">
    <nav>
      <input type="checkbox" id="click">
     <label for="click" class="menu-btn">
       <span class="material-symbols-outlined"> menu </span></label>
     <ul>
       <li><a routerLink="">Home</a></li>
       <li><a routerLink="story">Story</a></li>
       <li><a href="service">Services</a></li>
       <li><a href="#">Wedding</a></li>
       <li><a href="#">Review</a></li>
       <li><a href="#">Contact</a></li>
     </ul>
   </nav>
  </div>
  <div class="nav3">
    <span class="material-symbols-outlined">phone_in_talk
   </span>
   <h3>1800 222 000</h3>
    <button type="button" class="btn btn-outline-secondary">Let's talk</button>
  </div>
</div>
<hr style="color: white;">
<div class="info">
  <h1 style="color: white;">Salon Story</h1>
</div>
</div>

<!--1st-->
<div class="info2">
  <div class="info2_1">
    <h5>35 YEARS OF SALON EXPERIENCE</h5>
    <h1>The modern and luxury salon chain.</h1>
    <p>The best beauty creams are selected from natures fragrances for the beauty and fairness we are create beauty creams that are close to nature.</p>
    <div class="info2_2" style="display: flex;">
      <img src="assets/img/39.webp" alt="..">
      <h3>Best beauty salon award 2023</h3>
    </div>
    <div class="info2_4">
      <h1>722+</h1>
      <div class="info2_5">
      <img src="assets/img/36.png" alt="..">
      <img src="assets/img/36.png" alt="..">
      <img src="assets/img/36.png" alt="..">
      <img src="assets/img/36.png" alt="..">
      <img src="assets/img/36.png" alt="..">
      </div>
    </div>
    <p>5 star reviews from our satisfied customers.</p>
  </div>
  <div class="info2_3">
    <img class="img1" src="assets/img/41.jpg" alt="..">
    <img class="animation" src="assets/img/40.webp" alt="..">
  </div>
</div>
<hr style="color: rgb(93, 92, 92);">

<!--2nd-->

<div class="info3">
  <div class="info3_1">
    <h1>Love brands</h1>
    <img class="img2" src="assets/img/42.png" alt="..">
  </div>
  <div class="info3_2">
    <img src="assets/img/22.webp" alt="..">
    <img src="assets/img/23.webp" alt="..">
    <img src="assets/img/24.webp" alt="..">
  </div>
</div>
<hr style="color: rgb(93, 92, 92);">

<!--3rd-->
<div class="info4">
  <div class="info4_1">
    <p>THE BEST FOR YOU</p>
    <h4>Salon Strategy</h4>
  </div>
  <div class="info4_2">
    <div class="info4_3">
    <div class="card">
      <img src="assets/img/43.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Safe for skin</h5>
        <p>All the products we use are professional.</p>
      </div>
    </div>
  </div>
    <div class="info4_3">
    <div class="card">
      <img src="assets/img/44.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Certified experts</h5>
        <p>Our salon trainers are very professionas.</p>
      </div>
    </div>
  </div>
    <div class="info4_3">
    <div class="card">
      <img src="assets/img/45.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Always clean</h5>
        <p>Best enviroment in our beauty salon.</p>
      </div>
    </div>
  </div>
    <div class="info4_3" style="border-right: none;">
    <div class="card" >
      <img src="assets/img/46.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Cruelty clean</h5>
        <p>We have never tested on animals.</p>
      </div>
    </div>
  </div>
  </div>
  <div class="info4_4">
    <h1>Make Your look even more perfect with <span style="border-bottom: solid 2px;">our treatments</span></h1>
  </div>
</div>

<!--4th-->
<div class="info5">
  <div class="overlay">
    <h1>Give your skin perfect care for whole year</h1>
    <p><span style="background-color: rgb(255, 123, 0); color:white ;border-radius:.25rem; padding:2px 5px 2px 5px">100%</span><span style="margin-left: 5px;">Natural and organic skin care.</span></p>
  </div>
</div>

<!--5th-->
<div class="info6">
<div class="container2">
  <div class="info6_1">
    <p>THE BEST FACILITY</p>
    <h2>Best beauty salon facilities.</h2>
    <h5>The best beauty cream are selec ed from natures fragrances for the beauty and fairness.</h5>
    <button type="button" class="btn btn-secondary">Book appointment</button>
  </div>
  <div class="info6_2">
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col-4">
            <img src="assets/img/47.webp" alt="..">
          </div>
            <div class="col-8">
            <h5>Free Coffee</h5>
            <p>Lorem ipsum amet</p>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/48.webp" alt="..">
            </div>
              <div class="col-8">
              <h5>Internet access</h5>
              <p>Lorem ipsum amet</p>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-4">
                <img src="assets/img/49.webp" alt="..">
              </div>
                <div class="col-8">
                <h5>Restful place</h5>
                <p>Lorem ipsum amet</p>
              </div>
              </div>
            </div>
    </div>
  </div>
  <div class="info6_2">
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col-4">
            <img src="assets/img/50.webp" alt="..">
          </div>
            <div class="col-8">
            <h5>All equipment</h5>
            <p>Lorem ipsum amet</p>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/51.webp" alt="..">
            </div>
              <div class="col-8">
              <h5>Parking lot</h5>
              <p>Lorem ipsum amet</p>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-4">
                <img src="assets/img/52.webp" alt="..">
              </div>
                <div class="col-8">
                <h5>Great nature</h5>
                <p>Lorem ipsum amet</p>
              </div>
              </div>
            </div>
    </div>
  </div>
</div>
</div>

<!--footer-->
<div class="footer">
  <div class="f_1">
    <h6>Everyone can discover their hidden beauty.<span style="border-bottom: 2px solid;">Book an appoinment</span></h6>
  </div>
  <hr style="color: white;">
  <div class="f_2">
    <div class="f_21">
    <h1>Beauty</h1>
  </div>
  <div class="f_22">
    <h3>GET IN TOUCH</h3>
    <h4>401 Broadway, 24th Floor <br>New York,NY 10013</h4>
  </div>
  <div class="f_23">
    <h3>NEED SUPPORT?</h3>
    <h4>1-800-222-000</h4>
    <h4>info&#64;yourdomain.com</h4>
  </div>
  <div class="f_24">
    <h3>CONNECT WITH US</h3>
    <div class="f_241">
      <img src="assets/img/37.png">
      <img src="assets/img/38.png">
    </div>
  </div>
</div>
</div>
