<!--header-->
<div class="header">
  <div class="overlay">
    <div class="navbar">
    <div class="nav">
      <h1>Beauty</h1>
    </div>
  <div class="nav2">
    <nav>
      <input type="checkbox" id="click">
     <label for="click" class="menu-btn">
       <span class="material-symbols-outlined"> menu </span></label>
     <ul>
       <li><a routerLink=" ">Home</a></li>
       <li><a routerLink="story">Story</a></li>
       <li><a routerLink="service">Services</a></li>
       <li><a href="#">Wedding</a></li>
       <li><a href="#">Review</a></li>
       <li><a href="#">Contact</a></li>
     </ul>
   </nav>
  </div>
  <div class="nav3">
    <span class="material-symbols-outlined">phone_in_talk
   </span>
   <h3>1800 222 000</h3>
    <button type="button" class="btn btn-outline-secondary">Let's talk</button>
  </div>
</div>
<hr style="color: white;">
<div class="info">
  <div class="infoo">
  <h1>Beauty </h1><h1>Studio</h1>
  <h4>A salon is an establishment dealing <br>with natural cosmetic treatments.</h4>
  <button type="button" class="btn btn-primary">Book appoinment</button>
</div>
<div class="infooi">
  <img src="assets/img/5.webp" alt="..">
</div>
</div>
<div class="infoo2">
  <div class="infoo2_1">
    <h3>Wow awesome!</h3>
  </div>
</div>
</div>
</div>

<!--2nd slide-->
<div class="info3">
  <div class="info3_1">
    <img src="assets/img/4.webp" style="height: 65px;" alt="..">
    <div class="info3_12">
    <h6>Best beauty salon <span style="border-bottom: 2px solid;">award 2023</span></h6>
    <p>Multi award winning beauty salon services.</p>
  </div>
  </div>
  <div class="info3_2">
    <h6>Get 20% off on bridal makeup</h6></div>
  </div>

<!--3rd-->
<div class="info4">
  <img class="img1" src="assets/img/6.jpg" alt="..">
  <div class="info4_1">
    <span class="color">ABOUT THE SALON</span>
    <h2>Body treatments. Skin care beauty.</h2>
    <p>With over 35 years of experience footprint of over 400+ salons in 125 cities across the length and breadth of the country. We have developed a deep understanding of the beauty industry.</p>
    <div class="info4_2">
  <button type="button" class="btn btn-primary">About Story</button>
   <a href="https://www.youtube.com/" class="btn1"> <img src="assets/img/7.png" alt=".." style="height: 30px;">  Luxury Salon</a>
  </div>
</div>
</div>

<!--4th-->
<div class="info5_3">
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col border-end" >
      <div class="info5">
      <h1>01</h1>
      <h2>-</h2>
      <div class="info5_1">
        <h1>Excellent care</h1>
        <h3>No compromises</h3>
      </div>
    </div>
    </div>
    <div class="col border-end">
      <div class="info5">
        <h1>02</h1>
        <h2>-</h2>
        <div class="info5_1">
          <h1 style="padding-right:40px;">Cruelty free</h1>
          <h3 >No tested on animals</h3>
        </div>
      </div>    </div>
    <div class="col align-item">
      <div class="info5">
        <h1>03</h1>
        <h2>-</h2>
        <div class="info5_2">
          <h1>Certified experts</h1>
          <h3>Professional people</h3>
        </div>
      </div></div>
  </div>
</div>
</div>

<!--5th-->
<div class="info7">
  <p>BEAUTY SALON SERVICES</p>
  <h2>Makeup and hairstyles</h2>
</div>
<div class="info6">
  <div class="card1">
    <img src="assets/img/8.jpg" class="card-img-top" alt="...">
    <div class="overlay1"></div>
    <div class="card-body">
      <h2>Hair treatment</h2>
      <p>Advanced hair treatment</p>
    </div>
  </div>
  <div class="card1">
    <img src="assets/img/9.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h2>Reflexology</h2>
        <p>Different amounts of pressure</p>
      </div>
  </div>
  <div class="card1">
    <img src="assets/img/10.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Makeup</h2>
      <p>Rethink your lash look</p>
    </div>
  </div>
  <div class="card1">
    <img src="assets/img/11.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Skin care</h2>
      <p>Believe in your beauty</p>
    </div>
  </div>
  <div class="card1">
    <img src="assets/img/12.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Cosmetology</h2>
      <p>Fabulous in every way</p>
    </div>
  </div>
  <div class="card1">
    <img src="assets/img/13.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Grooming</h2>
      <p>Especially crafted to suit</p>
    </div>
  </div>
</div>


<!--6th-->
<div class="info8">
<div class="container1">
  <div class="col1">
    <div class="row1" >
      <div class="col3-sm-3">
        <img src="assets/img/14.webp" alt=".">
      </div>
      <div class="col4-sm-7">
        <h3>Hair wash and dry</h3>
        <p>Quick hair wash and blow</p>
      </div>
      <div class="col5-sm-2">
        <h3>$35</h3>
      </div>
    </div>
    <div class="row1">
      <div class="col3-sm-3">
        <img src="assets/img/15.webp" alt=".">
      </div>
      <div class="col4-sm-7">
        <h3>Express makeup</h3>
        <p>Lovely on your special day</p>
      </div>
      <div class="col5-sm-2">
        <h3>$65</h3>
      </div>
    </div>
    <div class="row1">
      <div class="col3-sm-3">
        <img src="assets/img/16.webp" alt=".">
      </div>
      <div class="col4-sm-7">
        <h3>Haircut by expert</h3>
        <p>Get the best haircut</p>
      </div>
      <div class="col5-sm-2">
        <h3>$25</h3>
      </div>
    </div>
    </div>
    <div class="col2">
      <div class="row1">
        <div class="col3-sm-3">
          <img src="assets/img/17.webp" alt=".">
        </div>
        <div class="col4-sm-7">
          <h3>New hair styling</h3>
          <p>New hair styling</p>
        </div>
        <div class="col5-sm-2">
          <h3>$25</h3>
        </div>
      </div>
      <div class="row1">
        <div class="col3-sm-3">
          <img src="assets/img/18.webp" alt=".">
        </div>
        <div class="col4-sm-7">
          <h3>Wash and plain dry</h3>
          <p>Advanced hair treatment</p>
        </div>
        <div class="col5-sm-2">
          <h3>$45</h3>
        </div>
      </div>
      <div class="row1">
        <div class="col3-sm-3">
          <img src="assets/img/19.webp" alt=".">
        </div>
        <div class="col4-sm-7">
          <h3>Organic skin treatment</h3>
          <p>Reduce dryness from skin</p>
        </div>
        <div class="col5-sm-2">
          <h3>$55</h3>
        </div>
      </div>
  </div>
</div>
</div>
<div class="info9">
  <h1>Our flexible beauty salon pricing plans.<span style="border-bottom: 2px solid;">Explore package</span></h1>
</div>

<!--7th-->
<div class="info10">
  <div class="info11">
    <div class="card3">
      <img src="assets/img/20.jpg" class="card-img-top" alt="...">
      <div class="info11_1">
        <h4>FLAT 50% OFF</h4>
        <h3>Bridal Makeup</h3>
        <p>Special packaegs for wedding</p>
      </div>
    </div>
    <div class="card4">
      <img src="assets/img/21.jpg" class="card-img-top" alt="...">
      <div class="info11_1">
        <h4>FLAT 50% OFF</h4>
        <h3>Expert Makeup</h3>
        <p>Unlock your true beauty potential</p>
    </div>
    </div>
  </div>
<div class="info12">
  <p>ASSOCIATES BRAND</p>
  <h2>Brands available</h2>
</div>
<div class="info13">
<div class="container">
  <div class="row">
    <div class="col">
      <img src="assets/img/22.webp" alt="..">
    </div>
    <div class="col">
      <img src="assets/img/23.webp" alt="..">
    </div>
    <div class="col">
      <img src="assets/img/24.webp" alt="..">
    </div>
    <div class="col">
      <img src="assets/img/25.webp" alt="..">
    </div>
    </div>
    <div class="row">
    <div class="col">
      <img src="assets/img/26.webp" alt="..">
    </div>
    <div class="col">
      <img src="assets/img/27.webp" alt="..">
    </div>
    <div class="col">
      <img src="assets/img/28.webp" alt="..">
    </div>
    <div class="col">
      <img src="assets/img/29.webp" alt="..">
    </div>
  </div>
</div>
</div>
</div>

<!--8th-->
<div class="info14">
  <div class="info14_1">
    <p>BEAUTY SALON FOCUS ON</p>
    <h1>The quest for quality and safety.</h1>
    <h6>Quality and safety as our absolute priority</h6>
    <h6>Helping hundreds of millions of women</h6>
    <button type="button" class="btn btn-primary">Book appoinment</button>
  </div>
  <div class="info14_i">
    <img src="assets/img/30.webp" alt="..">
  </div>
</div>

<!--9th-->
<div class="info16">
    <p>OUR EXPERTS</p>
    <h2>Beauty experts</h2>
  </div>
<div class="info15">
<div class="card" style="width: 18rem;">
  <img src="assets/img/32.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-text">Jeremy dupont</h3>
    <p>Director</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/img/33.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-text">Matthew taylor</h3>
    <p>Makeup</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/img/34.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-text">Herman miller</h3>
    <p>Terapist</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/img/35.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-text">Johncy parker</h3>
    <p>Consultant</p>
    </div>
</div>
</div>
<!--9-->
<div class="info17">
  <div class="info17_1">
    <img src="assets/img/36.png" alt="..">
    <img src="assets/img/36.png" alt="..">
    <img src="assets/img/36.png" alt="..">
    <img src="assets/img/36.png" alt="..">
    <img src="assets/img/36.png" alt="..">
 </div>
 <div class="info17_2">
  <h1>25,000+ Beauty lovers visited our beauty Salon.</h1>
 </div>
</div>

<!--10th-->
<div class="info18">
  <div class="info18_1">
    <p>TESTIMONIAL</p>
    <h2>Our happy beauty lovers.</h2>
  </div>
  <div class="container3">
    <div class="slide-container">
      <div class="slide-card">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">NICKIE COOMBS</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Dedicated team will do their best to meet your needs and give you your ultimate treatment</h5>
          </div>
        </div>
          </div>
      <div class="slide-card">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">BELLA ROBERTS</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">A wonderfully professional salon, beautiful location and beautifully kept. Great products knowledge.</h5>
          </div>
        </div>
          </div>
      <div class="slide-card">
        <div class="card border-secondary mb-3" style="max-width: 17rem;">
          <div class="card-header">HERMAN MILLER</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Perfection isn't just any other salon. It's a complete cut above the rest. Highly recommended!</h5>
          </div>
        </div>      </div>
      <div class="slide-card">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">SHOKHO MUGIKURA</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Dedicated team will do their best to meet your needs and give you your ultimate treatment.</h5>
          </div>
        </div>      </div>
      <div class="slide-card">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">EMMA CAUSER</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">A wonderfully professional salon, beautiful location and beautifully kept. Great products knowledge.</h5>
          </div>
        </div>      </div>
      <div class="slide-card">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">LESSY SIMMS</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Dedicated team will do their best to meet your needs and give you your ultimate treatment.</h5>
          </div>
        </div>
        </div>
        <div class="slide-card">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">NICKIE COOMBS</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Dedicated team will do their best to meet your needs and give you your ultimate treatment</h5>
            </div>
          </div>
            </div>
        <div class="slide-card">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">BELLA ROBERTS</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">A wonderfully professional salon, beautiful location and beautifully kept. Great products knowledge.</h5>
            </div>
          </div>
            </div>
        <div class="slide-card">
          <div class="card border-secondary mb-3" style="max-width: 17rem;">
            <div class="card-header">HERMAN MILLER</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Perfection isn't just any other salon. It's a complete cut above the rest. Highly recommended!</h5>
            </div>
          </div>      </div>
        <div class="slide-card">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">SHOKHO MUGIKURA</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Dedicated team will do their best to meet your needs and give you your ultimate treatment.</h5>
            </div>
          </div>      </div>
        <div class="slide-card">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">EMMA CAUSER</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">A wonderfully professional salon, beautiful location and beautifully kept. Great products knowledge.</h5>
            </div>
          </div>      </div>
        <div class="slide-card">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">LESSY SIMMS</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Dedicated team will do their best to meet your needs and give you your ultimate treatment.</h5>
            </div>
          </div>
      </div>
    </div>
</div>
</div>

<!--11th-->
<div class="container4">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77040.84599220412!2d72.75775688069122!3d21.21784129129646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04d165c6c88c9%3A0x413469905499ee62!2sCourtyard%20Surat!5e0!3m2!1sen!2sin!4v1717563823931!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>

<!--footer-->
<div class="footer">
  <div class="f_1">
    <h6>Everyone can discover their hidden beauty.<span style="border-bottom: 2px solid;">Book an appoinment</span></h6>
  </div>
  <hr style="color: white;">
  <div class="f_2">
    <div class="f_21">
    <h1>Beauty</h1>
  </div>
  <div class="f_22">
    <h3>GET IN TOUCH</h3>
    <h4>401 Broadway, 24th Floor <br>New York,NY 10013</h4>
  </div>
  <div class="f_23">
    <h3>NEED SUPPORT?</h3>
    <h4>1-800-222-000</h4>
    <h4>info&#64;yourdomain.com</h4>
  </div>
  <div class="f_24">
    <h3>CONNECT WITH US</h3>
    <div class="f_241">
      <img src="assets/img/37.png">
      <img src="assets/img/38.png">
    </div>
  </div>
</div>
</div>

